{% extends "base.html" %}

{% block title %} Панель администратора {% endblock %}

{% block content %}
<div class="admin-panel">
    <h1> Панель администратора </h1>
    <h2> Настройки </h2>
    <p> Отправка отзывов на почту:
        {% if app.config['SEND_FLAG'] == True %}
            <text style="color:green; font-size:20px; font-family: Arial"> Включено </text>
        {% else %}
            <text style="color:red; font-size:20px; font-family: Arial"> Выключено </text>
        {% endif %}
        <a href="{{ url_for('change_send_set') }}"><button> Включить/Выключить отправку </button></a>

    </p>
    <h2> Кнопки управления </h2>
    <a href="{{ url_for('admin_logout') }}"><button>Выход из панели администратора</button></a>
    <a href="{{ url_for('update_rating') }}"><button> Обновить рейтинги </button></a>

    <h2>Добавить сотрудника</h2>
    <form action="/admin_panel/add_worker/" method="post">
        <input type="text" placeholder="ФИО сотрудника" name="full_name">
        <input type="text" placeholder="Должность" name="worker_post">
        <input type="text" placeholder="Контакты" name="contacts">
        <input type="submit" value="Добавить">
    </form>

    <h2>Список сотрудников </h2>
    {% if workers %}
        <table>
            <tr class="main-tr">
                <th>id</th>
                <th>ФИО сотрудника</th>
                <th>Должность</th>
                <th>Контакты</th>
                <th>Рейтинг</th>
                <th>Команды</th>
            </tr>
            {% for worker in workers %}
            <tr>
                <td>{{ worker.id }}</td>
                <td>{{ worker.full_name }}</td>
                <td>{{ worker.worker_post }}</td>
                <td>{{ worker.contacts }}</td>
                <td>{{ worker.rating }}</td>
                <td>
                    <form action="/admin_panel/delete-worker/" method="post">
                        <button type="submit" name="but-del-worker" value="{{ worker.id }}">Удалить</button>
                    </form>
                </td>
            </tr>
            {% endfor %}
    {% else %}
        <p> Сотрудников еще не добавили </p>
    {% endif %}
    </table>
    <h2>Отзывы клиентов</h2>

    {% if feedbacks %}
        <table>
            <tr class="main-tr">
                <th>id</th>
                <th>Сотрудник</th>
                <th>Дата отзыва</th>
                <th>Отзыв</th>
                <th>Оценка</th>
                <th>Номер клиента</th>
                <th>Отправлено(email)</th>
                <th>Команды</th>
            </tr>

            {% for feed in feedbacks %}
            <tr>
                <td>{{ feed.id }}</td>
                <td>{{ feed.consult_name }}</td>
                <td>{{ feed.date_feed }}</td>
                <td>{{ feed.comment }}</td>
                <td>{{ feed.rate }}</td>
                <td>{{ feed.phone_number }}</td>
                <td>{{ feed.send }}</td>
                <td>
                    <form action="/admin_panel/delete/" method="post">
                        <button type="submit" name="but-del" value="{{ feed.id }}">Удалить</button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </table>
    {% else %}
        <p> Отзывов клиентов еще нет</p>
    {% endif %}
</div>
{% endblock %}