{% extends "base.html" %}

{% block title %} Панель администратора {% endblock %}

{% block content %}
<div class="admin-panel">
    <h1> Панель администратора </h1>

    <table>
        <tr class="main-tr">
            <th>id</th>
            <th>Сотрудник</th>
            <th>Дата отзыва</th>
            <th>Отзыв</th>
            <th>Оценка</th>
            <th>Номер клиента</th>
            <th>Отправлено(email)</th>
            <th>Команды</th>
        </tr>

        {% for el in feedbacks %}
        <tr>
            <td>{{ el.id }}</td>
            <td>{{ el.consult_name }}</td>
            <td>{{ el.date_feed }}</td>
            <td>{{ el.comment }}</td>
            <td>{{ el.rating }}</td>
            <td>{{ el.phone_number }}</td>
            <td>{{ el.send }}</td>
            <td>
                <form action="/admin_panel/delete/" method="post">
                    <button type="submit" name="but-del" value="{{ el.id }}">Удалить</button>
                </form>
            </td>
        </tr>
        {% endfor %}

    </table>
    <a href="{{ url_for('admin_logout') }}"><p>Выход из панели администратора</p></a>
</div>
{% endblock %}